{{#extend "body"}}
<h1>Kitchen Sink</h1>

<section class="page-section" id="section-item-tiles">
  <div class="container">
    <div class="tiles item-tiles">
      {{#each items}}
        <div class="tile item-tile">
          <div class="tile-cover" style="background-image: url('{{coverPhotoUrl}}?cache=true&fit=scale');">
          </div>
          <div class="tile-info">
            <h3 class="tile-title">{{name}}</h3>
            <ul class="diet-tags">
              {{#each tags}}
                <li class="diet-tag diet-tag-{{this}}"></li>
              {{/each}}
            </ul>
            <div class="item-price">${{price.toDollars}}</div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/extend}}