{{#extend "body"}}
<h1>Kitchen Sink</h1>

<section class="page-section" id="section-item-tiles">
  <div class="container">
    <div class="item-tiles">
      <div class="tile item-tile">
        <div class="tile-cover" style="background-image: url('https://cdn.filepicker.io/api/file/JEjlpwrGSrK4D9VjpHkc/convert?cache=true&fit=scale');">
        </div>
        <div class="tile-info">
          <h3 class="tile-title">Pirata Dos Tacos Box</h3>
          <ul class="dietary-tags">
            <li class="diet-tag diet-tag-gluten-free"></li>
            <li class="diet-tag diet-tag-vegan"></li>
            <li class="diet-tag diet-tag-vegetarian"></li>
            <li class="diet-tag diet-tag-spicy"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{{/extend}}