<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/c2c33c6a5ddf146804e1d148753890edf9a87e2f.css">
  </head>
  <body>
    <section class="page-section" id="section-checkout-info">

  <div class="container">
    <fieldset class="checkout-info form-vertical">
      <div class="user-info">
        <h3 class="section-title">Your Info</h3>
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" component:elm="info[name]">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" component:elm="info[email]">
        </div>
        <div class="form-group">
          <label for="">Phone Number</label>
          <input type="tel" class="form-control" component:elm="info[phone]">
        </div>
        <p class="checkout-info-note">We'll email/text you when your meal has arrived!</p>
      </div>
      <div class="payment-info">
        <h3 class="section-title">Payment Info</h3>
          <div class="form-group form-group-member-name">
            <label for="">Name on card</label>
            <input type="text" class="form-control" name="card_member_name" component:elm="card[name]">
          </div>
          <div class="inline-form-group-list">
            <div class="form-group form-group-card-number">
              <label for="">Card number</label>
              <input type="text" class="form-control" name="card_number" component:elm="card[number]">
            </div>
            <div class="form-group form-group-card-cvv">
              <label for="">CVV</label>
              <input type="text" class="form-control" name="card_cvv" component:elm="card[cvc]">
            </div>
            <div class="form-group form-group-expiration">
              <label for="">Expiration date</label>
              <input type="text" class="form-control" placeholder="MM" name="card_expiration_month" component:elm="card[expire-month]">
              /
              <input type="text" class="form-control" placeholder="YY" name="card_expiration_year" component:elm="card[expire-year]">
            </div>
          </div>
      </div>
    </fieldset>
  </div>

    </section>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~app-4836539.js"></script>
</html>