<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="modal fade" id="contact-us-modal">

        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Contact Us</h3>
            </div>
            <form action="#" class="form form-vertical contact-us-form">
              <div class="modal-body">
                <div class="form-group">
                  <label for="name-input">Name</label>
                  <input type="text" name="name">
                </div>
                <div class="form-group">
                  <label for="name-input">Email</label>
                  <input type="email" name="email">
                </div>
                <div class="form-group">
                  <label for="message-input">Message</label>
                  <textarea rows="6" type="text" name="message"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      
    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-43d01cc.js"></script>
</html>