<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container order-reviewer-container">

  <div class="order-reviewer">
    <h3 class="order-reviewer-header">Today's order
      <a href="#" class="order-reviewer-item-add-link" component:elm="addItemsLink">Add items</a>
    </h3>

    <div class="order-reviewer-items" component:section="items">
        <div class="order-reviewer-item" component:section="items" component:view="default">
          <div class="order-reviewer-item-col photo-col">
            <img src="https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=352&amp;h=210&amp;fit=crop" alt="Pirata Dos Tacos" component:prop="photo" component:prop-target="src">
          </div>
          <div class="order-reviewer-item-col item-desc">
            <div class="order-reviewer-item-description-wrapper">
              <div class="order-reviewer-item-description">
                <h4 class="order-reviewer-item-title" component:prop="title">Pirata Dos Tacos</h4>
              </div>
              <ul class="order-reviewer-item-actions">
                <li class="action"><a href="#" component:elm="removeLink">remove</a></li>
              </ul>
            </div>
          </div>
          <div class="order-reviewer-item-col">
            <strong>Quantity:</strong> <span component:prop="quantity">1</span>
          </div>
          <div class="order-reviewer-item-col price-col" component:prop="amount">
            $10.90
          </div>
        </div>
        <div class="order-reviewer-item" component:section="items" component:view="default">
          <div class="order-reviewer-item-col photo-col">
            <img src="https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=352&amp;h=210&amp;fit=crop" alt="Poop Taco Box" component:prop="photo" component:prop-target="src">
          </div>
          <div class="order-reviewer-item-col item-desc">
            <div class="order-reviewer-item-description-wrapper">
              <div class="order-reviewer-item-description">
                <h4 class="order-reviewer-item-title" component:prop="title">Poop Taco Box</h4>
              </div>
              <ul class="order-reviewer-item-actions">
                <li class="action"><a href="#" component:elm="removeLink">remove</a></li>
              </ul>
            </div>
          </div>
          <div class="order-reviewer-item-col">
            <strong>Quantity:</strong> <span component:prop="quantity">1</span>
          </div>
          <div class="order-reviewer-item-col price-col" component:prop="amount">
            $12.00
          </div>
        </div>
    </div>
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-d2972d4.js"></script>
</html>