<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="warning-section">

    <img src="/lunchroom-landing~0/resources/assets/img~cupcake-shocked-9c195d3.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">Sorry, time’s up :(.</h2>
    <p>You must place your order by <span data-component-prop="orderBy">10am</span>.</p>
  
    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-d2972d4.js"></script>
</html>