<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container outro-header-section">

  <h3 class="outro-header">To give feedback or ask questions, please email us at <a href="mailto:support@goodybag.com">support@goodybag.com</a></h3>

    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-d2972d4.js"></script>
</html>