<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container items-container">

  <div class="tiles item-tiles" component:section="items">
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-vegan" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-vegetarian" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box but this one is a really long title</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-d2972d4.js"></script>
</html>