<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="container">

  <div class="warning-section" data-component-id="warning-section">
    <img src="/lunchroom-landing~0/resources/assets/img~cupcake-shocked-2-4bc6fb3.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">This menu has not been created yet!</h2>
    <p>Either this is an error with Goodybag, or the menu hasn't been created yet. Please check again later.</p>
  </div>

    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-d2972d4.js"></script>
</html>