<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/lunchroom-landing~0/resources/ad9f552fd255c5d348748ac8ad8600cdf91e3413.css">
  </head>
  <body>
    <div class="page page-menu">

      <header class="navbar collapsed" component:id="header">
        <div class="container">
          <a href="/">
            <img src="https://d3bqck8kwfkhx5.cloudfront.net/img/logo.png" alt="Goodybag.com" class="navbar-logo">
          </a>
        </div>
      </header>
      
      <div class="lunchroom-header" component:id="navbar">
  <div class="container">
    <div class="tabs" component:section="tabs">
      <a component:section="tabs" component:view="active" class="active" href="#"><span component:prop="tabDay">Mon</span><small component:prop="tabDate">Jan 26</small></a>
      <a component:section="tabs" component:view="default" href="#"><span component:prop="tabDay">Tues</span><small component:prop="tabDate">Jan 27</small></a>
      <a href="#"><span component:prop="tabDay">Weds</span><small component:prop="tabDate">Jan 28</small></a>
      <a href="#"><span component:prop="tabDay">Thurs</span><small component:prop="tabDate">Jan 29</small></a>
      <a href="#"><span component:prop="tabDay">Fri</span><small component:prop="tabDate">Jan 30</small></a>
    </div>
    <div class="module" component:view="menuAvailable">
      Delivery to: <small component:prop="deliverTo">Bazaarvoice</small>
    </div>
    <div class="module" component:view="menuAvailable">
      Delivery Time: <small component:prop="deliveryTime">12:00-12:30 PM</small>
    </div>
    <div class="module" component:view="orderCountdown">
      Time left to order:
      <small class="text-important" component:prop="timeLeftToOrder">1 hr 26min</small>
    </div>
    <div class="module module-right module-unpadded">
      <a component:elm="checkoutButton" component:view="not-on-checkout" class="btn btn-primary" href="checkout">Checkout (<span component:prop="cartItemCount">1</span>)</a>
    </div>
  </div>
</div>

<section class="page-section" id="section-warning-section" component:id="menu-not-created">
  <div class="container">
    <div class="warning-section" component:id="warning-section">
      <img src="/lunchroom-landing~0/resources/assets/img~cupcake-shocked-9c195d3.png" alt="" class="warning-section-supporting-graphic">
      <h2 class="warning-section-header">This menu has not been created yet!</h2>
      <p>Either this is an error with Goodybag, or the menu hasn't been created yet. Please check again later.</p>
    </div>
  </div>
</section>

<div class="container items-container" component:id="menu">
  <div class="tiles item-tiles" component:section="items">
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-vegan" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-vegetarian" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box but this one is a really long title</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Poop Taco Box</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$12.00</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
      <div class="tile item-tile" component:section="items" component:view="default">
        <div class="tile-cover" style="background-image: url('https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=400&amp;h=195&amp;fit=crop');" component:prop="photoUrl" component:prop-target="style/background-image" component:elm="showDetailsLink" data-toggle="modal" data-target="#item-modal">
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">Pirata Dos Tacos</h3>
          <ul class="diet-tags" component:section="diet-tags">
              <li class="diet-tag diet-tag-gluten-free" component:section="diet-tags" component:view="default"></li>
              <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
          <div class="item-price" component:prop="price">$10.90</div>
          <button class="btn btn-default btn-add" data-toggle="modal" data-target="#item-modal" component:elm="addButton" component:view="orderable">Add</button>
        </div>
      </div>
  </div>
</div>

<div class="modal item-modal fade" id="item-modal" component:id="menu-item-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-photo-wrapper">
        <img class="modal-photo" src="https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=430&amp;h=400&amp;fit=crop" component:prop="photoUrl" component:prop-target="src">
      </div>
      <div class="modal-main-content">
        <div class="modal-main-content-body">
          <h3 class="item-modal-title" component:prop="title">Fajita Torta
            <span class="item-modal-price" component:prop="price">$12.00</span>
          </h3>
          <p class="item-modal-description" component:prop="description">Mexican sandwich with top sirloin steak, bell peppers, mushrooms, and onions. Topped with queso, avocado, tomatoes, and Mexican mayo dressing.</p>
          <ul class="diet-tags" component:section="diet-tags">
            <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
        </div>
        <div class="item-modal-actions">
          <button class="btn btn-primary
            item-modal-save-btn" component:elm="addButton" component:view="orderable">Add to Order</button>
        </div>
      </div>
    </div>
  </div>
</div>

      
      <div class="modal fade" id="contact-us-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Contact Us</h3>
            </div>
            <form action="#" class="form form-vertical contact-us-form">
              <div class="modal-body">
                <div class="form-group">
                  <label for="name-input">Name</label>
                  <input type="text" name="name">
                </div>
                <div class="form-group">
                  <label for="name-input">Email</label>
                  <input type="email" name="email">
                </div>
                <div class="form-group">
                  <label for="message-input">Message</label>
                  <textarea rows="6" type="text" name="message"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <footer class="footer" component:id="footer">
        <ul class="nav footer-nav">
          <li><a href="#" data-toggle="modal" data-target="#contact-us-modal">Contact Us</a></li>
          <li><a href="https://www.goodybag.com/legal">Terms of service</a></li>
          <li><a href="https://www.goodybag.com/privacy">Privacy policy</a></li>
        </ul>
      </footer>
    
    </div>
  </body>
    <script src="/lunchroom-landing~0/resources/dist~lib-71d7b1f.js"></script>
    <script src="/lunchroom-landing~0/resources/dist~app-7dabcde.js"></script>
</html>